@page
@model Dotnet.Web.Admin.Pages.LoginModel

<form method="post">
    <div>
        <div class="form-group">
            <label asp-for="email">Введите Email</label>
            <input type="text" name="email" />
        </div>
        <div class="form-group">
            <label asp-for="password">Введите пароль</label>
            <input type="text" name="password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
